* {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
 }

 html,body{
   margin: 0%;
   padding: 0%;
 }

 body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   min-height: 100%;
 }

 .topnav {
   background-color: rgb(126,38,57);
   width: 100%;
   height: 44px;
   overflow: auto;
 }

 .topnav a {
   float: left;
   display: block;
   color: rgb(251, 251, 246);
   text-align: center;
   padding: 0px 25px 0px 25px;
   text-decoration: none;
   transition: 0.3s;
 }

 .topnav .text {
   padding-top: 10px;        
   padding-bottom: 10px;
 }

 .text{
  font-size: 1.3em;
  text-align: center;
 }

 .topnav a:hover {
   background-color: rgb(199, 184, 151);
   color: black;
   cursor: pointer;
 }

 .companylogo {
  width: 45px;
  object-fit: cover;
  border-radius: 50px;
  padding-top: 0%;
  padding-bottom: 0%;
}

 .content {
   background-color: rgb(251, 251, 246);
   padding: 0%;
   width: 100%;
   height: 1000px;
   min-width: 100%;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
 }

 .footer {
   background-color: rgb(230, 227, 197);
   padding: 10px;
   padding-bottom: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   width: 100%;
 }

 .backtotop {
   text-decoration: none;
   text-align: center;
   color: black;
   margin-bottom: 0px;
 }

 .backtotop :visited {
   color: lightcoral;
 }

 .backtotop :active {
   color: red;
 }
